html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  display: flex;
}

.main-holder {
  margin: auto;
  background-color: #fefefe;
  border-radius: 5px;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 5%;
  width: 500px;
}
